slepc4py==3.7.0
pyyaml==3.12
mpi4py==2.0.0
matplotlib==2.0.2
ipykernel==4.6.1
instant==2017.1.0
ffc==2017.1.0
urllib3==1.13.1
scipy==0.17.0
pytest==2.8.7
pyopenssl==0.15.1
pyasn1==0.1.9
py==1.4.31
ply==3.7
pillow==3.1.2
ndg-httpsclient==0.4.0
ipaddress==1.0.16
idna==2.0
flufl.lock==2.4.1